<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation Guide</title>
</head>
<body>
    <h1>Welcome to the Meditation Guide</h1>
    <p>Learn how to meditate by following the link below:</p>
    <a href="https://www.mindful.org/how-to-meditate/" target="_blank">How to Meditate</a>
</body>
</html>